<div class="navbar">
  <a href="/main-page/index/index.html">
    <img class="logo" src="/pictures/night_logo.png" alt="Logo">
  </a>
  <ul class="nav-links">
    <li><a href="/main-page/index/team/team.html">Home</a></li>
    <li><a href="/main-page/index/team/news/news.html">News</a></li>
    <li><a href="/main-page/index/team/list/list.html">Members</a></li>
    <li><a href="/main-page/index/team/support/support.html">Support</a></li>
  </ul>
  <div class="user-controls">
    <button id="login-button">Login</button>
  </div>
</div>
