<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="/components/navbar/navbar.css" />
    <link rel="stylesheet" href="profile.css">
</head>
<body>
    <header>
        <nav id="navbar"></nav>
    </header>
    <!-- Your profile content here -->

    <script src="/main.js"></script>
    <script src="/components/navbar/navbar.js"></script>
    <script src="profile.js"></script>
</body>
</html>