
.ticket-panel {
  max-width: 420px;
  margin: 3rem auto;
  padding: 2rem 2.2rem;
  background: #fff;
  border: 1.5px solid #111;
  border-radius: 0;
  box-shadow: none;
}
.ticket-header {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 1.24rem;
  color: #111;
  margin-bottom: 1.5rem;
  margin-top: -0.5rem;
}

.ticket-title{
    margin-bottom: 0.5rem;
}
.ticket-form {
  display: flex;
  flex-direction: column;
}

.ticket-form > label {
  color: #111;
  font-weight: 600;
  margin-bottom: 0.1rem;
}

.ticket-form > input,
.ticket-form > textarea {
  background: #fff;
  color: #111;
  border: 1.5px solid #111;
  border-radius: 0;
  padding: 0.7rem 1rem;
  font-size: 1rem;
  resize: vertical;
  box-shadow: none;
  margin-bottom: 1.5rem;
}

.ticket-form textarea {
  margin-bottom: 1.5rem;
}

.ticket-form input:focus,
.ticket-form textarea:focus {
  outline: none;
  border: 1.5px solid #111;
}

.ticket-submit-btn {
  background: #fff;
  color: #111;
  border: 1.5px solid #111;
  border-radius: 0;
  padding: 0.7rem 0;
  font-size: 1.08rem;
  font-family: 'Orbitron', 'Segoe UI', Arial, sans-serif;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.18s, color 0.18s;
  margin-top: 1rem;
}
.ticket-submit-btn:hover {
  background: #111;
  color: #fff;
  transition: background 0.18s, color 0.18s;
}


